{% extends 'CmsAdminBundle::base_layout.html.twig' %}
{% trans_default_domain "CmsAdminBundle" %}

{% block stylesheets %}
    {{ parent() }}
	{% stylesheets filter='cssrewrite'
		'@NPAdminBundle/Resources/public/css/collections.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts_foot %}
	{{ parent() }}
	{% javascripts
		'@NPAdminBundle/Resources/public/js/custom_collections.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
		
{% block footer_content %}
	<p><a href="http://www.atelier-45.fr/" target="_blank">{{ 'global.copyright'|trans }}</a></p>
{% endblock %}