{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
            <div class="collection-fields">
                {{ form_errors(form) }}
                {% for child in form %}
                    <div class="collection-field-row" data-prop="{{ child.vars.data.title is defined ? child.vars.data.title : ''  }}">
			{{ form_row(child) }}
                        {% if allow_delete is defined and allow_delete %}
                        <a href="#" class="delete-collection-row btn btn-danger delete">
                            {{ 'global.form_action.delete' | trans({}, 'CmsAdminBundle') }}
                        </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% if allow_add is defined and allow_add %}
            <a href="#" class="add-collection-row btn">
                {{ 'global.form_action.add' | trans({}, 'CmsAdminBundle') }}
            </a>
        {% endif %}
        {% if allow_delete is defined and allow_delete %}
        <a href="#" class="delete-collection-row btn btn-danger delete hide">
            {{ 'global.form_action.delete' | trans({}, 'CmsAdminBundle') }}
        </a>
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block picture_collection_widget %}
{% set lastindex = 0 %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = {'data-prototype': form_row(prototype)} %}
    {% endif %}
    {{ form_errors(form) }}
    <ul class="list-photos thumbnails">
	{% for child in form %}
	<li id="photo_{{ child.vars.value.id }}" class="thumbnail collection-field">
	    <img src="{{ child.vars.value.getPath('small') }}" alt="{{ child.vars.value.title }}">
	    <div class="caption">
		<p title="{{ child.vars.value.title }}">{{ child.vars.value.title }}</p>
		<p class="actions">
		    <a role="button" data-toggle="modal" href="#modal_{{ child.vars.value.id }}" class="btn btn-mini btn-primary" title="{{ 'global.form_action.edit'|trans({}, 'CmsAdminBundle') }}">{{ 'global.form_action.edit'|trans({}, 'CmsAdminBundle') }}</a>
		    &nbsp;<a title="{{ 'global.form_action.delete'|trans({}, 'CmsAdminBundle') }}" class="btn btn-mini btn-danger delete">{{ 'global.form_action.delete'|trans({}, 'CmsAdminBundle') }}</a>
		</p>
	    </div>
	    <div id="modal_{{ child.vars.value.id }}" class="modal hide fade">
		<div class="modal-header">
		    <h3>{{ 'global.form_action.edit'|trans({}, 'CmsAdminBundle') }}</h3>
		</div>
		<div class="modal-body">
		    {{ form_row(child) }}
		    </div>
		    <div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ 'global.form_action.confirm' | trans({}, 'CmsAdminBundle') }}</a>
		    </div>
		</div>
	    </li>
        {% set lastindex = loop.length %}
        {% endfor %}
    </ul>

    <fieldset {{ block('widget_container_attributes') }} >

        <div class="collection-fields" data-index="{{ lastindex }}"></div>

        {% if allow_add is defined and allow_add %}
            <a href="#" class="add-collection-row btn">
            {{ 'global.form_action.add-picture' | trans({}, 'CmsAdminBundle') }}
            </a>
        {% endif %}
        {% if allow_delete is defined and allow_delete %}
            <a href="#" class="delete-collection-row btn btn-danger delete hide">
                {{ 'global.form_action.delete-picture' | trans({}, 'CmsAdminBundle') }}
            </a>
        {% endif %}
        {{ form_rest(form) }}
    </fieldset>
{% endspaceless %}
{% endblock picture_collection_widget %}

{% block file_collection_widget %}
{% import "CmsAdminBundle:Macro:boolean.html.twig" as bool %}
{% set lastindex = 0 %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = {'data-prototype': form_row(prototype)} %}
    {% endif %}
    {{ form_errors(form) }}
    <ul class="files">
	{% for child in form %}
	<li id="" class="collection-field actions" style="list-style-type: none;">
	    {{ bool.show(child.vars.value.published) }}&nbsp;-&nbsp;
            <b>{{ child.vars.value }}</b>&nbsp;-&nbsp;
            <a role="button" data-toggle="modal" href="#modal_{{ child.vars.value.id }}" class="btn btn-mini btn-primary" title="{{ 'global.form_action.edit'|trans({}, 'CmsAdminBundle') }}">{{ 'global.form_action.edit'|trans({}, 'CmsAdminBundle') }}</a>
            &nbsp;<a title="{{ 'global.form_action.delete'|trans({}, 'CmsAdminBundle') }}" class="btn btn-mini btn-danger delete">{{ 'global.form_action.delete'|trans({}, 'CmsAdminBundle') }}</a>
            <div id="modal_{{ child.vars.value.id }}" class="modal hide fade">
		<div class="modal-header">
		    <h3>{{ 'global.form_action.edit'|trans({}, 'CmsAdminBundle') }}</h3>
		</div>
		<div class="modal-body">
		    {{ form_row(child) }}
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ 'global.form_action.confirm' | trans({}, 'CmsAdminBundle') }}</a>
		</div>
            </div>
        </li>
        {% set lastindex = loop.length %}
        {% endfor %}
    </ul>

    <fieldset {{ block('widget_container_attributes') }} >
        <div class="collection-fields" data-index="{{ lastindex }}"></div>

        {% if allow_add is defined and allow_add %}
            <a href="#" class="add-collection-row btn">
            {{ 'global.form_action.add-file' | trans({}, 'CmsAdminBundle') }}
            </a>
        {% endif %}
        {% if allow_delete is defined and allow_delete %}
            <a href="#" class="delete-collection-row btn btn-danger delete hide">
                {{ 'global.form_action.delete-file' | trans({}, 'CmsAdminBundle') }}
            </a>
        {% endif %}
        {{ form_rest(form) }}
    </fieldset>
{% endspaceless %}
{% endblock file_collection_widget %}